<link rel="stylesheet" href="/css/dashboard.css">

<% title = "dashboard_title" %>

<h1><%= title %></h1>
<p><%= @name %> go</p> 

<div class="tiles">
  <div class="tiles_text">
    <p><%= @number %></p>
  </div>



  <script>
    alert("hey");
  </script>
</div>

<div class="json_data">
  <% @objects.each do |object| %>
  <li>
    <p>Name: <%= object["name"] %> Gender: <%= object["gender"] %></p>
  </li>
  <% end %>
</div>