<h3>Pivotal tile</h3>
<form method="post">
  Project:      <select name="pivotal_project_id">
                <% @tile.projects.each do |project| %>
                  <option value=<%= project["id"] %> <% if @tile.project_id.to_s == project["id"].to_s %> selected="selected" <% end %>><%= project["name"] %></option>
                <% end %>
                </select><br>

  Stories:      <select name="pivotal_action_after">
                  <% @tile.story_actions.each do |action| %>
                    <option <% if "#{action}_after" == @tile.action_after %> selected="selected" <% end %> value="<%= action %>_after" ><%= action %></option>
                  <% end %>
                </select>

  after:         <input type="date" name="pivotal_time_after" min="2012-01-01" max=<%= PivotalTile.time_now %> value=<%= @tile.time_after %>><br>

  Stories:      <select name="pivotal_action_before">
                  <% @tile.story_actions.each do |action| %>
                    <option <% if "#{action}_before" == @tile.action_before %> selected="selected" <% end %> value="<%= action %>_before" ><%= action %></option>
                  <% end %>
                </select>

  before:       <input type="date" name="pivotal_time_before" min="2012-01-01" max=<%= PivotalTile.time_now %> value=<%= @tile.time_before %>><br>

  With state:   <select name="pivotal_story_state">
                  <% @tile.story_states.each do |state| %>
                    <option <% if state == @tile.story_state %> selected="selected" <% end %> ><%= state %></option>
                  <% end %>
                </select>
                <br>

  Type:         <input type="radio" name="pivotal_type" value="members_stories">Members stories
                <input type="radio" name="pivotal_type" value="stories_by_state">Stories by state
                <input type="radio" name="pivotal_type" value="tick_stories">Story Ticker
                <input type="radio" name="pivotal_type" value="state_filtered" checked="checked">Filter by state<br>
                <input type="submit" value="Submit">

</form>
