<% case @type
   when "members_stories" %>
  <div id="chart"></div>
    <script type="text/javascript">
      memberStories(<%= @stories.to_json %>);
    </script>


<% when "stories_by_state" %>
  <script >
    drawStoryTree(<%= @stories.to_json %>, <%= @index %>)
  </script>

<% when "tick_stories" %>
  <ul>
  <% @story.keys.each do |k|  %>
      <li><%= k %>: <%= @story[k] %></li>
   <% end %>
 </ul>

 <% when "state_filtered" %>
  <h3><%= @story_state.capitalize %> stories:</h3>
  <ul>
    <% @stories.each do |story| %>
      <li> <%= Rack::Utils.escape_html(story['name']) %> </li>
    <% end %>
  </ul>

<% end %>
